/*-----Animación textos-----*/
@keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
}
/*-----Entrada del cubo-----*/
@keyframes grow {
	from {
		transform: scale(0);
	}
	top {
		transform: scale(1);
	}
}
/*----- Animación del fondo del cubo -----*/
@keyframes gradientCube {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*-----Brillo de las cartas-----*/
@keyframes shine {
	0% {
	  left: -100%;
	}
	100% {
	  left: 100%;
	}
  }
/*-----Rotación del cubo-----*/
@keyframes rotate {
	0% {
	  transform: rotateX(-45deg) rotateY(0deg);
	}
	50% {
	  transform: rotateX(45deg) rotateY(360deg);
	}
	100% {
	  transform: rotateX(-45deg) rotateY(720deg);
	}
}
/*------Perder las vidas------*/
@keyframes lose {
    0%{
        transform:scale(1);
        opacity: 1;
    }
    5%{
        transform: scale(1.2);
        opacity: 1;
    }
    99%{
        transform: scale(0.001);
        opacity: 1;
    }
    100%{
        transform: scale(0.001);
        opacity: 0;
    }
}