:root {
	--color-bright-pink: #FD5D78;
	--color-naples-yellow: #FDDD5D;
	--color-aquamarine: #5DFDCB;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}
a {
	color: inherit;
}
body {
	width: 100vw;
	height: 100vh;
	font-size: 16px;
}

/*------HELPERS ------*/
.hidden {
	opacity: 0;
}
.fade-in {
	animation: fadeIn 1s ease-out forwards;
}

/*------GRID BACKGROUND------*/
.background-grid {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	perspective: 600px;
	perspective-origin: center center;
}

/* Estilos base de cada celda */
.grid-cell {
	width: 25px;
	height: 25px;
	position: absolute;
	border: 0.5px solid rgba(39, 35, 58, .5);
	background-color: white;
	transition: background-color 0.1s, transform 0.4s ease, box-shadow 0.4s ease;
  	transform-style: preserve-3d;
}
.grid-cell.pop-forward {
	transform: translate(5px, -5px) translateZ(5px) scale(1.1);
	box-shadow:  -1px 1px black,
				-2px 2px black,
				-3px 3px black,
				-4px 4px black,
				-5px 5px black;
	z-index: 10;
}
.grid-cell:hover {
	background-color: hsl(350, 100%, 88%); /* default pink */
}

/*------HOME MAIN CONTAINER------*/
.home .container {
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 50px 1fr 1fr 50px;
}
.textual {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.title {
	position: relative;
	z-index: 1;
	pointer-events: none;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	width: 100%;
	color: white;
	-webkit-text-stroke: 2px black;
	text-shadow: -2px 2px 0px black, 
                  -3px 3px 0px black;
}
.subtitle {
	position: relative;
	z-index: 1;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 45px;
	cursor:default;
}
.play-button {
	width: 150px;
	max-width: 300px;
	background-color: white;
	position: relative;
	z-index: 1;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	margin-left: 10px;
	box-shadow: 
				-1px 1px black,
				-2px 2px black,
				-3px 3px black, 
				-4px 4px black, 
				-5px 5px  black;
}
.play-button:hover {
	background-color: var(--color-bright-pink);
	cursor: pointer;
	transform: translate(-10px, 10px);
	box-shadow: none;
	transition: all 0.3s ease-in-out;
}
.play-button p {
	font-size: 1rem;
	font-weight: 800;
}
.play-button::after {
	content: "Ready to flip?";
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%) rotate(-2deg);
	background: var(--color-naples-yellow);
	color: #27233A;
	padding: 5px 10px;
	font-size: 0.8em;
	font-family: 'Space Grotesk', monospace;
	border: 1px solid #000;
	box-shadow: 2px 2px 0 #999;
	opacity: 0;
	transition: opacity 0.3s;
}
.play-button:hover::after {
	opacity: 1;
}
/*Cubos*/
.illustration {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	align-self: center;
	justify-self: center;
	animation: grow 2s linear;
}
.scene {
	perspective: 1000px;
	perspective-origin: 50% 50%;

}
.cube {
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	margin: 0 auto;
	animation: rotate 20s infinite linear;
} 
.cube:hover {
	animation: rotate 4s infinite linear;
}
.cube, .cube > div {
	height: 100px;
	width: 100px;
}
.face-cube {
	position: absolute;
	border: solid 1.1px #000;
	background: linear-gradient(-45deg, var(--color-aquamarine), transparent, white, transparent );
	background-size: 400% 400%;
	animation: gradientCube 10s ease infinite;
	opacity: 1;
}
.cube .face-cube:nth-child(1) {
	/* Ancho de la cara */
	transform: translateZ(50px);
}
.cube .face-cube:nth-child(2) {
	transform: translateZ(-50px);
}
.cube .face-cube:nth-child(3) {
	transform: translateX(-50px) rotateY(-90deg);
}
.cube .face-cube:nth-child(4) {
	transform: translateX(50px) rotateY(-90deg);
}
.cube .face-cube:nth-child(5) {
	transform: translateY(-50px) rotateX(-90deg);
}
.cube .face-cube:nth-child(6) {
	transform: translateY(50px) rotateX(-90deg);
}

/*------PLAYGROUND------*/
.playground {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	gap: 50px;
	perspective: 800px;
	transform-style: preserve-3d;
}
.playground nav {
	position: fixed;
	top: 0;
	left: 10px;
	display: flex;
	margin: 25px 25px;
	padding: 15px;
	z-index: 3;
	box-shadow:  -1px 1px black,
				-2px 2px black,
				-3px 3px black,
				-4px 4px black,
				-5px 5px black;
	border: 2px solid black;
	background-color: white;
	transform: translate(5px, -5px) translateZ(5px) scale(1.1);
	z-index: 10;

}
.hover-reveal{
	position: relative;
	overflow: hidden;
	z-index: 0;
	background-color: transparent;
	transition: color 0.3s ease;
}
.hover-reveal::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--color-aquamarine); /* o el color que prefieras */
	z-index: -1;
	transition: left 0.4s ease;
}
.hover-reveal:hover::before {
	left: 0;
}
.playground h1 {
	font-size: 1rem;
}
.playground .container {
	display: grid;
	grid-template-columns: repeat(3, 4rem);
	grid-template-rows: repeat(4, 4rem);
	gap: 1rem;
	perspective: 800px;
}
.card {
	position: relative;
	transform-style: preserve-3d;
	transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	box-shadow: 5px 5px  black;
}
.face,
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	border: 2px solid black;
	background-color: white;
	pointer-events: none;
}
.back {
	background: var(--color-naples-yellow);
	backface-visibility: hidden;
}
.back::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 200%;
	height: 100%;
	background: linear-gradient(
	  315deg,
	  transparent 0%,
	  rgba(255, 255, 255, 0.5) 50%,
	  transparent 60%
	);
	animation: shine linear 2s infinite alternate;
	pointer-events: none;
}
.toggleCard {
	transform: rotateY(180deg);
}
.player-info {
	min-width: 250px;
	border: 2px solid black;
	background-color: white;
	position: relative;
	z-index: 1;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 1px 1px black,
				2px 2px black,
				3px 3px black, 
				4px 4px black, 
				5px 5px black;
    transform: translateZ(5px) scale(1.1);
}
.player-info div {
	width: 100%;
	display: flex;
	align-items: center;
}
.restart-button {
	min-width: auto;
	max-width: 100%
}
.restart:hover {
	background-color: var(--color-bright-pink);
	cursor: pointer;
	transform: translate(5px, 5px);
	box-shadow: none;
	transition: transform 0.3s ease-in-out;
	box-shadow: none;

}
.player-info h2 {
	font-size: 1rem;
	margin-right: 10px;
}
.playerLivesCount {
	display: flex;
	align-items: center;
	gap: 6px;
}
.heart {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 15px;
  }
.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 9px;
	top: 0;
	width: 10px;
	height: 15px;
	background: red;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
  }
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

/*------FOOTER------*/
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	padding-bottom: 15px;
	margin-right: 25px;
	gap: 15px;
	pointer-events: none;
}
footer p {
	font-size: 0.9rem;
}
