
@font-face {
	font-family: 'w95'; /* Nombre que usarás en CSS */
	src: url('../fonts/w95fa/w95fa.woff2') format('woff2'),
		 url('../fonts/w95fa/w95fa.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-size: 16px;
}

/*------GRID BACKGROUND------*/

  
/* Estilos base de cada celda */
.grid-cell {
	width: 25px;
	height: 25px;
	position: absolute;
	border: 0.5px solid rgba(0, 0, 0, .5);
	transition: background-color 0.1s;
}
  
.grid-cell:hover {
	background-color: hsl(350, 100%, 88%);
	opacity: 0.8;
}

/*------MAIN CONTAINER------*/

.container {
	height: 100%;
	display: grid;
	grid-template-columns: 50px auto 50px;
	grid-template-rows: 100px auto auto 100px;
}

.textual {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.img {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.img img {
	display: block;
	position: relative;
	z-index: 1;
	min-width: 100px;
	max-width: 50%;
	/* justify-self: flex-start; */
}

.title {
	position: relative;
	z-index: 1;
	font-size: 3rem;
	pointer-events: none;
	line-height: 3.5rem;
	width: 100%;

}

.subtitle {
	position: relative;
	z-index: 1;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 45px;
	cursor:default;
}

.play-button {
	max-width: 300px;
	background-color: white;
	position: relative;
	z-index: 1;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-left: 10px;
	box-shadow: -10px 10px  black;

}


.play-button p {
	font-size: 2rem;
	font-weight: 800;
}

.play-button:hover {
	background-color: pink;
	/* color: white; */
	cursor: pointer;
	transform: translate(-10px, 10px);
	box-shadow: none;
	transition: all 0.3s ease-in-out;
}

/*-----MEDIA QUERIES-----/

/*-----Tablet-----*/
@media (min-width: 768px) {
	.container {
		height: 100%;
		display: grid;
		grid-template-columns: 50px auto auto 50px;
		grid-template-rows: 50px auto auto 50px;
	}
	.title {
		font-size: 5rem;
		line-height: 5.5rem;
	}
	.subtitle {
		font-size: 2rem;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	.play-button {
		min-width: 300px;
	}
}



/*-----Desktop-----*/
@media (min-width: 1200px) {
	 .container {
		grid-template-columns: 200px auto auto 200px;
		grid-template-rows: 1fr auto auto 1fr;
	} 
	
	.textual {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.img {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}
	.img img {
		justify-self: flex-end;
		align-self: stretch;
	}

}